body {
    background-color: #8c0101 !important;
}

.text {
    color: white;
    text-align: center;
    Margin: 25px 0 25px 0;
}

.card {
    margin: 20px auto 20px auto;
    border: none;
}

.card-img-top {
    padding: 7px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    filter: drop-shadow(0px 0px 15px black);
    -webkit-filter: drop-shadow(0px 0px 15px black);
}

.info {
    color: white;
}

.movie-item {
    background-color: transparent;
}

.card-link {
    color: white;
}

.attraction-card {
    width: 22rem;
    background-color: transparent;
}

@media (min-width: 768px) {
    .attraction-card {
        width: 43rem;
    }
}