body {
    background-color: #ab0303 !important;
}

.text {
    color: white;
    text-align: center;
    Margin: 25px 0 25px 0;
}

.card {
    margin: 20px auto 20px auto;

}

.card-img-top {
    padding: 7px;
}

